body { /*Definições gerais*/
    margin: 0;
    padding: 20px;
    background-color: #f4f7f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

.menusup {  /* Organização do Menu superior*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 12px;
    width: 90%;
    max-width: 2000px;    
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;        
}

.box:hover {  /* Utilizado para alterar a cor quando o mouse for passado*/
    background-color: black;
}

.b {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    margin-top: 30px;
    width: 80%;
    max-width: 9000px;
    line-height: 1.7;    
    box-sizing: border-box;    
}

.b h4 {
    color: #333;
    font-size: 20px;
    margin-bottom: 25px;
    text-align: center;
}

.b p {
    margin: 0;
    font-size: 20px;
    color: #555;
}


.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    padding: 15px 20px;     
    border-radius: 8px;    
    width: 100%;
    box-sizing: border-box;        
}

.form-group label {    
    color: #555;
    margin-bottom: 8px;    
}

.botao-contato { /*Decidi efetuar caracterísitcas iguais ao menu superior para deixar o design bonito*/
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 14px;    
    width: auto;
    align-self: center;
    margin-top: 25px;
}

.botao-contato:hover { /* Utilizado para alterar a cor quando o mouse for passado*/
    background-color: black;        
}

.form-contato {
    display: flex;
    flex-direction: column;    
    padding: 15px;
}